body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

div.form {
  border: 1px solid #c3c3c3;
  border: 0 0 5px #ddd;
  border-radius: 10px;
  padding: 2rem 3rem;
  width: calc(100% + 2rem);
}
div.form div.form-header p.form-header-title {
  font-size: var(--font-h6);
}
div.form div.form-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
div.form div.form-body div.form-body__container {
  min-width: 100%;
  cursor: pointer;
}
div.form div.form-body div.form-body__container div.helper-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  padding: 0.8rem 1.4rem;
  overflow: hidden;
  transition: all 0.07s ease-in-out;
  margin-bottom: 0.4rem;
}
div.form div.form-body div.form-body__container div.helper-box:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
div.form div.form-body div.form-body__container div.helper-box p {
  margin-bottom: 0;
}
div.form div.form-body div.form-body__container div.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div.form div.form-body div.form-body__container div.result i {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}
