.git
.vscode

storage/debugbar/*
storage/framework/*
storage/logs/*

node_modules
tests

.editorconfig
.env.example
.gitattributes
.gitignore
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
CHANGELOG.md
docker-compose.yml
phpunit.xml
pint.json
README.md