
// Notification Modal Vue

div.notification-modal{
    position: absolute;
    top: 2rem;
    left: 12.5%;
    padding: 0 1rem;
    --sidebar: 18vw;
    margin-left: var(--sidebar);
    width: calc((100vw - var(--sidebar)) / 2);
    border-radius: 6px;
    box-shadow: 0 0 20px #00006630;
    display: none;
    .modal-header p{
        font-size: var(--font-h4);
        margin-bottom: 0;
    }
    
    .modal-body p{
        margin-bottom: 0;
    }
    
    .modal-footer{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button{
            border-radius: 4px;
            padding: .4rem .8rem;
        }
    }
}

/* ———————————————————— Layouts ———————————————————— */

div.app{
    background-color: #d9d9ff30;
}

/* ———————————————————— Alert ———————————————————— */
div#alert{
    position: sticky;
    display: none;
    top: 0;
    left: 0;
    div.alert{
        width: 100%;
    }
}