
/* ------------------------------ Edit Product Form ------------------------------ */


section.create-product-form {
    margin-top: 1rem;
    width: 100%;

    > div.panel {
        box-shadow: 0 0 20px #00000044;
        border: 1px solid #00000022;
        border-radius: 6px;
        height: auto;
        width: 100%;
        padding: 1.8rem 2.2rem;
        margin: 2.4rem 0 0;
        &:first-child{
            margin: 0 0 2.4rem;
        }

        /* Header */
        > div.panel-header{
            margin-bottom: 1rem;

            > h4.panel-title{
                font-weight: bold;
            }
        }

        /* Body */
        > div.panel-body{
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            column-gap: 1.4rem;
            padding: 0 .8rem 1rem .2rem;
            overflow-x: auto;
            overflow-y: initial;
            height: auto;

            // hide scroll bar
            // &::-webkit-scrollbar{
            //     display: none;
            // }

            &.column{
                flex-direction: column;
            }

            /* Product media */
            > div.product-media-container{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                row-gap: 1rem;
                $size: 120px;
                height: calc($size + 80px);
                width: $size;

                > label.product-media-upload{
                    position: relative;
                    min-height: $size;
                    min-width: $size;
                    max-height: $size;
                    max-width: $size;
                    border-radius: 6px;
                    border: 1px dashed #d8d8d8;
                    background-color: #fafafa;
                    transition: border-color .17s ease-in-out;
                    overflow: hidden;

                    cursor: pointer;
                    &:hover{
                        background-color: rgba(238,77,45,.03);
                        border: 1px dashed #ee4d2d;
                    }

                    input{
                        display: none;
                    }

                    &:hover i.upload-icon p,
                    &:hover i.upload-icon #upload-icon{
                        display: block;
                    }

                    &:hover i.upload-icon #image-icon{
                        display: none;
                    }

                    @mixin animation {
                        transition: all .12s ease-in-out;
                    }
                    
                    > i.upload-icon{
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        fill: #ee4d2d;
                        color: #ee4d2d;
                        width: 90%;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-35%);

                        svg{
                            $size: 28px;
                            width: $size;
                            height: $size;
                            @include animation;
                        }

                        p{
                            font-style: normal;
                            font-size: var(--font-remark);
                            text-align: center;
                            text-wrap: wrap;
                            margin-bottom: none;
                            @include animation;
                        }

                        p, #upload-icon{
                            display: none;
                        }

                    }

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    button.delete-button, img[hidden]{
                        position: absolute;
                        display: none;
                        $position: .6rem;
                        top: $position;
                        right: $position;
                        $size: 26px;
                        height: $size;
                        width: $size;

                        i{
                            position: relative;
                            top: -50%;
                            transform: translateX(-45%);
                        }
                    }

                    & img:not([hidden]) + i.upload-icon{
                        display: none;
                    }

                    & img:not([hidden]):hover ~ button.delete-button, button.delete-button:hover{
                        display: block;
                    }

                    &.container-custom{
                        &.active{
                            border: 1px dashed #9d2a00;
                        }
                    }
                    

                }

                > div.product-media-information{
                    width: 100%;
                    
                    > p.product-media-name{
                        width: 100%;
                        height: auto;
                        font-size: var(--font-remark);
                        text-align: left;
                        text-wrap: wrap;
                        margin-bottom: 0;
                    }
                }

            }

            /* Product name */
            > div.product-name-container{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                column-gap: 1.4rem;

                div.col{

                }

                div.col-2{
                    button{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        column-gap: .8rem;
                        i{

                        }
                    }
                }
            }

            /* Product brand */
            > div.product-brand-container{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                column-gap: .4rem;

                label.brand-media-upload{
                    position: relative;
                    $size: 120px;
                    min-height: $size;
                    min-width: $size;
                    max-height: $size;
                    max-width: $size;
                    align-self: flex-end;
                    border-radius: 2px;
                    border: 1px dashed #d8d8d8;
                    background-color: #fafafa;
                    transition: border-color .17s ease-in-out;
                    cursor: pointer;

                    &:hover{
                        background-color: rgba(238,77,45,.03);
                        border: 1px dashed #ee4d2d;
                    }

                    input{
                        display: none;
                    }

                    &:hover i.upload-icon p,
                    &:hover i.upload-icon #upload-icon{
                        display: block;
                    }

                    &:hover i.upload-icon #image-icon{
                        display: none;
                    }

                    @mixin animation {
                        transition: all .12s ease-in-out;
                    }

                    > i.upload-icon{
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        fill: #ee4d2d;
                        color: #ee4d2d;
                        width: 90%;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-35%);

                        p{
                            margin-bottom: none;
                        }

                        svg{
                            $size: 28px;
                            width: $size;
                            height: $size;
                            @include animation;
                        }

                        p{
                            font-style: normal;
                            font-size: var(--font-remark);
                            text-align: center;
                            text-wrap: wrap;
                            margin-bottom: none;
                            @include animation;
                        }

                        p, #upload-icon{
                            display: none;
                        }
                    }

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    button.delete-button, img[hidden]{
                        position: absolute;
                        display: none;
                        $position: .6rem;
                        top: $position;
                        right: $position;
                        $size: 26px;
                        height: $size;
                        width: $size;

                        i{
                            position: relative;
                            top: -50%;
                            transform: translateX(-50%);
                        }
                    }

                    & img:not([hidden]) + i.upload-icon{
                        display: none;
                    }

                    & img:not([hidden]):hover ~ button.delete-button, button.delete-button:hover{
                        display: block;
                    }
                    
                    &.container-custom{
                        &.active{
                            border: 1px dashed #9d2a00;
                        }
                    }
                
                }

                div.col{

                }

                div.col-2{
                    max-width: 110px;
                    button{
                        // font-size: var(--font-remark);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        column-gap: .4rem;
                        text-wrap: nowrap;
                        i{
                            // font-size: var(--font-remark);
                        }
                    }
                }
            }

            /* Product category */
            > div.product-category-container{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                column-gap: 1.4rem;

                label.brand-media-upload{
                    position: relative;
                    $size: 36px;
                    min-height: $size;
                    min-width: $size;
                    max-height: $size;
                    max-width: $size;
                    align-self: flex-end;
                    border-radius: 2px;
                    border: 1px dashed #d8d8d8;
                    background-color: #fafafa;
                    transition: border-color .17s ease-in-out;
                    cursor: pointer;

                    &:hover{
                        background-color: rgba(238,77,45,.03);
                        border: 1px dashed #ee4d2d;
                    }

                    input{
                        display: none;
                    }

                    img{
                        
                    }
                    
                    i{
                        position: absolute;
                        display: inline-block;
                        fill: #ee4d2d;
                        $size: 28px;
                        width: $size;
                        height: $size;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-45%) translateY(-35%);
                    }

                }

                div.col{

                }

                div.col-2{
                    button{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        column-gap: .8rem;
                        i{

                        }
                    }
                }
            }

            #product-name-input-add-button{
                margin-top: 1.4rem;
                max-width: 120px;
            }

            #product-brand-input-add-button{
                margin-top: 1.4rem;
                max-width: 120px;
            }
        }

    }

    button#submit-button{
        margin-top: 2rem;
        width: 100%;
    }

}

.warning{
    color: red;
    font-weight: bold;
}