
aside.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 18vw;
    height: 100%;
    background-color: #47576B;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Logo */
    div.sidebar-logo{
        // position: sticky;
        // top: 0;
        background-color: #414f5e;
        img.sidebar-logo-image{
            padding: 1rem 4rem;
            width: 100%;
        }
        i.sidebar-home-icon{
            display: none;
        }
    }

    /* Link */
    div.link-section{
        width: 100%;
        margin-bottom: auto;
        section.link-container{
            
            div.link-title{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0 1.4rem;
                width: 100%;
                color: #fff;
                background-color: #314158;
                cursor: pointer;
                padding: .8rem 1rem;
                font-size: var(--font-content);
                i.link-title-icon{
                    font-size: .8rem;
                    margin-right: 1.2rem;
                }
                p.link-title-text{
                    margin-bottom: 0;
                    margin: 0;
                    margin-right: auto;
                }
                i.fa-angle-up{
                    transition: all .12s ease-in-out;
                }
                &.active{
                    i.fa-angle-up{
                        transform: rotateZ(180deg);
                    }
                }
                &:hover, &.active{
                    background-color: #242f3d;
	                color: #fff;
                }
            }

            ul{
                display: none;
                flex-direction: column;
                color: white;
                font-size: 1.4rem;
                padding: 0;
                font-size: var(--font-remark);
                a{
                    width: 100%;
                    height: 100%;
                    li{
                        background-color: #1F2D3E;
                        padding: .8rem 2rem;
                        height: 100%;
                        width: 100%;
                        &:hover{
                            background-color: #17202b;
                        }
                    }
                }
            }
        }

    }

    div.account-area{
        width: 100%;
        padding: .4rem .6rem;
        margin-top: auto;
        background-color: #00000022;
        display: flex;
        column-gap: 1.2rem;
        justify-content: flex-start;
        align-items: center;
        justify-self: flex-end;
        div.avatar{
            height: 3rem;
            img.avatar-image{
                border-radius: 6px;
                height: 100%;
                padding: .4rem;
                background-color: #ffffff77;
            }
            a.logout-href{
                display: none;
            }
        }

        div.action{
            p{
                margin: 0;
                margin-bottom: 0;
            }
            p.name{
                font-size: var(--font-content);
                font-weight: bold;
                color: #fff;
            }
            p.logout{
                font-size: var(--font-remark);
                color: #ffffffff;
            }
        }
    }
}

/* ==================== RWD ==================== */

// Phone
@media only screen and (max-width: 867px) {

    
    aside.sidebar{
        overflow: visible;
        width: 55px;
        row-gap: 0;
        position: fixed;
        top: 0;

        &::-webkit-scrollbar {

        }
        &::-webkit-scrollbar-track {

        }

        &.open{
            min-width: 25vw;
        }

        /* Logo */
        div.sidebar-logo{

            img.sidebar-logo-image{
                display: none;
            }
            i.sidebar-home-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 55px;
                width: 55px;
                color: var(--color-white);
            }
        }

        /* Link */
        div.link-section{
            position: relative;
            margin-bottom: 0;

            section.link-container{
                display: flex;
                position: relative;
                height: 55px;

                div.link-title{
                    width: 55px;
                    min-width: 55px;
                    justify-content: center;

                    i.link-title-icon{
                        margin-right: 0;
                        div.notification{

                        }
                    }
                    p.link-title-text{
                        display: none;
                    }
                    i.fa-angle-up{
                        display: none;
                    }
                    &.active{
                        i.fa-angle-up{

                        }
                    }
                    &:hover, &.active{

                    }
                }

                ul{
                    z-index: 99;
                    a{
                        text-wrap: nowrap;
                        width: auto;
                        li{
                            padding: 1rem 2.2em;

                            div.notification{
                                position: absolute;
                                top: 0;
                                right: 0;
                                transform: translateY(-50%) translateX(50%);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 100%;
                                background-color: red;
                                height: 20px;
                                width: 20px;
                                color: white;
                            }

                            &:hover{

                            }
                        }
                    }
                }
            }

        }

        div.account-area{
            padding: 0;
            margin-top: calc(auto - 55px);
            
            div.avatar{
                height: unset;
                img.avatar-image{
                    display: none;
                }
                a.logout-href{
                    display: flex;
                    &:hover{
                        background-color: #242f3d;
                    }
                    i.logout-icon{
                        width: 55px;
                        height: 55px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--color-white);
                        &:hover{
                            color: #dcdcdc;
                        }
                    }
                }
            }

            div.action{
                display: none;
                p{

                }
                p.name{

                }
                p.logout{

                }
            }
        }
    }

}