
div.page{
    $sidebar-width: 18vw;
    // width: calc(100vw - $sidebar-width);
    margin-left: $sidebar-width;
    padding: 1.6rem 2rem;
    p.page-title{
        margin: 0;
        margin-bottom: .4rem;
        font-size: var(--font-h4);
    }
}


/* ==================== RWD ==================== */

// Phone
// @media only screen and (max-width: 867px) {
@media only screen and (max-width: 2040px) {

    // $sidebar-width: 55px;
    $sidebar-width: 4vw;

    div.page{
        width: calc(100vw - $sidebar-width);
        margin-left: $sidebar-width;
        p.page-title{
            margin-bottom: .6rem;
            font-size: var(--font-h6);
        }
    }

}