<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
        <staticContent>
            <mimeMap fileExtension=".php" mimeType="application/x-httpd-php" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_AUTHORIZATION}" ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="(.+)/$" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" redirectType="Permanent" />
                </rule>
                <rule name="已导入的规则 2" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <remove name="SimpleHandlerFactory-Integrated-4.0" />
			<remove name="WebDAV" />
            <add name="php-cgi" path="*.php" verb="GET, HEAD, POST, PUT, DELETE, PATCH" modules="FastCgiModule" scriptProcessor="D:\php-8.2.6\php-cgi.exe" resourceType="File" requireAccess="Script" />
            <add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG,DELETE,PUT,PATCH" type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <remove name="cacha-control" />
                <add name="cache-control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering allowDoubleEscaping="false">
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
        <caching>
            <profiles>
                <remove extension=".css" />
                <add extension=".png" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
