@charset "UTF-8";
/* ———————————————————— Navbar ———————————————————— */
nav.navbar#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1333333333);
  position: sticky;
  top: 0;
  height: 9vh;
  width: 100%;
  z-index: 101;
  background-color: var(--color-white);
}
nav.navbar#navbar > div.company-logo {
  height: 100%;
}
nav.navbar#navbar > div.company-logo > img.company-logo-image {
  height: inherit;
}
nav.navbar#navbar > div.menu {
  width: 92%;
  display: flex;
}
nav.navbar#navbar > div.menu > ul.navbar-links {
  -moz-column-gap: 2.6rem;
       column-gap: 2.6rem;
  display: flex;
  /* auth function */
}
nav.navbar#navbar > div.menu > ul.navbar-links a.navbar-link {
  display: flex;
  align-items: center;
  padding: 0.4rem 1.2rem;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.12s ease-in-out;
}
nav.navbar#navbar > div.menu > ul.navbar-links a.navbar-link:hover {
  border: 1px solid blue;
}
nav.navbar#navbar > div.menu > ul.navbar-links a.navbar-link li.navbar-link-label {
  font-size: var(--font-title);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}
nav.navbar#navbar > div.menu > ul.navbar-links.auth a.navbar-link.primary {
  color: #3636ff;
}
nav.navbar#navbar > div.menu > ul.navbar-links.auth a.navbar-link.secondary {
  color: #3636ff;
}
nav.navbar#navbar > label[for=menu-button] {
  /* If not phone, hide it */
  display: none;
}
nav.navbar#navbar > input[type=checkbox][name=menu-button]#menu-button {
  display: none;
  /* Default hidden */
  /* Active */
}

/* ==================== RWD ==================== */
@media only screen and (max-width: 867px) {
  /* ———————————————————— Navbar ———————————————————— */
  nav.navbar#navbar {
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
  }
  nav.navbar#navbar > div.company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav.navbar#navbar > div.company-logo > img.company-logo-image {
    width: 10vw;
    height: auto;
  }
  nav.navbar#navbar > div.menu {
    flex-direction: column;
    position: absolute;
    background-color: var(--color-white);
    width: 100%;
    height: auto;
    top: 10vw;
    left: -100%;
    border-top: 1px solid #777;
    transition: all 0.12s ease-in-out;
  }
  nav.navbar#navbar > div.menu > ul.navbar-links {
    flex-direction: column;
  }
  nav.navbar#navbar > div.menu > ul.navbar-links a.navbar-link {
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0;
    border: none;
  }
  nav.navbar#navbar > div.menu > ul.navbar-links a.navbar-link li.navbar-link-label {
    text-align: center;
  }
  nav.navbar#navbar > div.menu > ul.navbar-links a.navbar-link:hover {
    border: none;
  }
  nav.navbar#navbar > div.menu > ul.navbar-links.common {
    margin-right: unset;
  }
  nav.navbar#navbar > label[for=menu-button] {
    /* If not phone, hide it */
    /* If phone, display it */
    display: block;
    position: absolute;
    top: 50%;
    right: 3.5vw;
    transform: translateY(-50%);
    font-size: var(--font-subtitle);
  }
  nav.navbar#navbar > input[type=checkbox][name=menu-button]#menu-button:checked ~ div.menu {
    left: 0;
  }
}
