
/* ———————————————————— DataTables Css ———————————————————— */

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
 
// Variables
// @import 'variables';
 
// Bootstrap
@import 'bootstrap/scss/bootstrap';
 
// DataTables
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import 'datatables.net-select-bs5/css/select.bootstrap5.css';

/* ———————————————————— Tailwind Css ———————————————————— */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'class.scss';

@import 'components.scss';

@layer base{

    .primary-button {
        @apply  
    }

}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

/* ———————————————————— Clear Default Style ———————————————————— */

*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{

}

body{
    overflow-x: hidden;
}

a{
    color: inherit;
    text-decoration: none;
}

ul, ol, dl{
    list-style: none;
    margin: 0;
    padding: 0;
}

button, textarea, input{
    border: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0;
}

/* ———————————————————— Global Custom Class ———————————————————— */

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.alert{
    z-index: 1;
    position: fixed;
    height: 9vh;
    top: 1rem;
    column-gap: 1.2rem;
}

.border-hidden{
    border: none;
}

.border-t-solid{
    border-top-style: solid;
}

.required{
    &::after{
        content: '*';
        margin-left: .4rem;
        color: red;
    }
}

.bg-white {
    background-color: white;
}

.bg-light {
    background-color: #fefefe;
}

.text-white {
    color: white;
}

/* ———————————————————— Global Variable ———————————————————— */

// Color

:root{
    /* Common */
    --color-white: #fff;
    --color-black: #000;
    
    /* Light */
    --color-white-light: #F9F2ED;
    --color-blue-light: #3AB0FF;
    --color-orange-light: #FFB562;
    --color-red-light: #F87474;
}

// Font size

/* Desktop */
@media only screen and (min-width: 1300px) {
    :root{
        --font-h1: 4.5rem;
        --font-h2: 3.5rem;
        --font-h3: 2.3rem;
        --font-h4: 1.8rem;
        --font-h5: 1.6rem;
        --font-h6: 1.3rem;

        --font-title: 1.2rem;
        --font-subtitle: 1.1rem;
        --font-content: 1rem;
        --font-remark: .8rem;
    }
}

/* Tablet Computer */
@media only screen and (min-width: 867px) {
    :root{
        --font-h1: 4.5rem;
        --font-h2: 3.5rem;
        --font-h3: 2.3rem;
        --font-h4: 1.75rem;
        --font-h5: 1.5rem;
        --font-h6: 1.3rem;

        --font-title: 1.1rem;
        --font-subtitle: 1rem;
        --font-content: 1rem;
        --font-remark: .9rem;
    }
}

/* Phone */
@media only screen and (max-width: 867px) {
    :root{
        --font-h1: 3.5rem;
        --font-h2: 3rem;
        --font-h3: 2.5rem;
        --font-h4: 1.55rem;
        --font-h5: 1.4rem;
        --font-h6: 1.4rem;

        --font-title: 1.1rem;
        --font-subtitle: 1rem;
        --font-content: .9rem;
        --font-remark: .8rem;
    }
}

/* ———————————————————— Setup global style ———————————————————— */

html{
    

    div.app#app{
        display: flex;
        min-height: 100vh;
        max-height: auto;
        background-color: rgb(243, 243, 248);
    
        > div.page#page{
            padding: 1.2rem 2rem;
            margin-left: 16rem;
            flex: 1;
        
            >p.page-title{
                font-weight: bold; 
                font-size: var(--font-h5);
            }

            >p.page-subtitle{
                font-size: var(--font-subtitle);   
            }

            >div.content{
                padding-top: 1.2rem;
                font-size: var(--font-title);
            }
        }
    }

    &.dark{
        div.app#app{
            color: var(--color-white);
            background-color: rgb(27, 27, 34);
        }
    }
}

nav#navbar{
    position: sticky;
    top: 0;
}

i{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    line-height: unset !important;
}

aside#sidebar{
    position: fixed;
    top: 0;

    > div{
        position: sticky;
        top: 6.8vh;
        
        &::-webkit-scrollbar {
            display: none;
        }

        svg.w-3.h-3{
            transition: all .12s ease-in-out;
        }

        .active svg.w-3.h-3{
            transform: rotateZ(180deg);
        }
        
    }
}