
#alert{
    position: relative;
    width: 100%;

    .alert{
        position: relative;
        width: 100%;
        height: unset;
        ul{
            padding: .4rem 0;
        }
    }
}

.breadcrumb{
    margin-bottom: .6rem;
}

#modal{
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: -1;
    background-color: #33333366;
    width: 100vw;
    height: 100vh;

    &.active{
        z-index: 100;
    }
}