@charset "UTF-8";
/* ———————————————————— Nav —————————————————— */
div.nav {
  position: fixed;
  top: 3rem;
  right: -10rem;
  transition: all 0.2s ease-in-out;
}
div.nav:hover {
  right: 0;
}
div.nav:hover div.hover {
  right: -4rem;
}
div.nav div.hover {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(14, 11, 36, 0.0823529412);
  border-radius: 8px 0 0 8px;
  position: relative;
  z-index: -1;
  right: 0;
  transition: all 0.28s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.nav ul.nav-links {
  box-shadow: 0 0 10px rgba(14, 11, 36, 0.0823529412);
  background-color: #fff;
  border: 1px solid #eee;
  padding: 1.2rem;
  width: 10rem;
}
div.nav ul.nav-links a li.nav-link {
  color: #07070d;
  padding: 0.2rem 0 0.2rem 0.2rem;
  transition: all 0.12s ease-in-out;
}
div.nav ul.nav-links a li.nav-link:hover {
  color: blue;
  margin-left: 0.2rem;
}
div.nav ul.nav-links a li.nav-link:hover::before {
  content: "\f30b";
  font-family: FontAwesome;
  margin-right: 0.4rem;
}

/* ———————————————————— Panel Setting ———————————————————— */
section.panel {
  margin: 3rem 0;
  box-shadow: 0 0 20px #bbb;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 2rem;
}
section.panel p.panel-title {
  font-size: var(--font-h4);
  color: #07070d;
  padding-bottom: 1rem;
  border-bottom: 0.25px solid #d9d9ec;
}
section.panel div.panel-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 1 0 50%;
}
section.panel div.panel-content div.permission-category {
  display: flex;
  flex-direction: column;
  width: 100%;
}
section.panel div.panel-content div.permission-category p.permission-category-title {
  font-size: var(--font-h6);
  font-weight: bold;
  color: #07070d;
  margin-bottom: 0;
}
section.panel div.panel-content div.permission-category div.permission-category-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
section.panel div.panel-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 1rem;
}

/* ———————————————————— Switch ———————————————————— */
div.switch-box {
  margin: 1rem 0;
  min-width: 16.6666666667%;
  max-width: 16.6666666667%;
}
div.switch-box label.switch-label {
  padding-left: 1rem;
  cursor: pointer;
}
div.switch-box input[type=checkbox] {
  display: none;
}
div.switch-box input[type=checkbox]:checked + label div.switch-button {
  border: 1px solid #006600;
  background-color: green;
}
div.switch-box input[type=checkbox]:checked + label div.switch-button div.switch-marker {
  transform: translateX(100%);
}
div.switch-box input[type=checkbox]:disabled + label div.switch-button {
  cursor: not-allowed;
  border: 1px solid #5e8e5e;
  background-color: rgb(125, 169, 125);
}
div.switch-box div.switch-button {
  cursor: pointer;
  padding: 0.2rem;
  height: 1.25rem;
  width: 2.1875rem;
  border: 1px solid #b1b1b1;
  background-color: #ddd;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
}
div.switch-box div.switch-button div.switch-marker {
  background-color: #fff;
  transform: translateX(0);
  transition: all 0.17s ease-in-out;
  height: 100%;
  width: 50%;
  border-radius: 20px;
}
div.switch-box div.switch-button div.switch-marker p.label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  height: 100%;
}
