
@use 'sass:color';

/* ———————————————————— Nav —————————————————— */

div.nav{
    position: fixed;
    top: 3rem;
    right: -10rem; // -8rem
    
    transition: all .2s ease-in-out;
    &:hover{
        right: 0;
        div.hover{
            right: -4rem;
        }
    }
    div.hover{
        cursor: pointer;
        $height: 50px;
        height: $height;
        width: $height;
        background-color: #fff;
        box-shadow: 0 0 10px #0e0b2415;
        border-radius: 8px 0 0 8px;
        position: relative;
        z-index: -1;
        right: 0;
        transition: all .28s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul.nav-links{
        box-shadow: 0 0 10px #0e0b2415;
        background-color: #fff;
        border: 1px solid #eee;
        padding: 1.2rem;
        width: 10rem;
        a{
            li.nav-link{
                color: #07070d;
                padding: .2rem 0 .2rem .2rem;
                transition: all .12s ease-in-out;
                &:hover{
                    color: blue;
                    margin-left: .2rem;
                    &::before{
                        content: '\f30b';
                        font-family: FontAwesome;
                        margin-right: .4rem;
                    }
                }
            }
        }
    }
}

/* ———————————————————— Panel Setting ———————————————————— */

section.panel{
    margin: 3rem 0;
    box-shadow: 0 0 20px #bbb;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2rem;
    p.panel-title{
        font-size: var(--font-h4);
        color: #07070d;
        padding-bottom: 1rem;
        border-bottom: .25px solid #d9d9ec;
    }
    div.panel-content{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex: 1 0 50%;
        div.permission-category{
            display: flex;
            flex-direction: column;
            width: 100%;
            p.permission-category-title{
                font-size: var(--font-h6);
                font-weight: bold;
                color: #07070d;
                margin-bottom: 0;
            }
            div.permission-category-content{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
            }
        }
    }
    div.panel-footer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 1rem;
    }
}

/* ———————————————————— Switch ———————————————————— */

div.switch-box{
    margin: 1rem 0;
    $limit: calc((100% / 6));
    min-width: $limit;
    max-width: $limit;
    label.switch-label{
        padding-left: 1rem;
        cursor: pointer;
    }
    input[type="checkbox"] {
        display: none;
        &:checked + label div.switch-button {

            // General
            $color: green;
            border: 1px solid color.scale($color, $lightness: -20%);
            background-color: $color;
            
            div.switch-marker {
                transform: translateX(100%);
            }
        }
        // Disabled
        &:disabled + label div.switch-button{
            cursor: not-allowed;
            $color: rgb(125, 169, 125);
            border: 1px solid color.scale($color, $lightness: -20%);
            background-color: $color;
        }
    }
    
    div.switch-button {
        cursor: pointer;
        padding: .2rem;
        $height: 1.25rem;
        height: $height;
        width: calc($height * 1.75);
        $color: #ddd;
        border: 1px solid color.scale($color, $lightness: -20%);
        background-color: $color;
        box-shadow: 0 0 20px #eee;
        border-radius: 20px;
        // Disabled
        div.switch-marker {
            background-color: #fff;
            transform: translateX(0);
            transition: all .17s ease-in-out;
            height: 100%;
            width: 50%;
            border-radius: 20px;
            p.label{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 0;
                height: 100%;
            }
        }
    }
}



