
form.form#form{

    // Button
    div.button-area{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    // Category Cover
    div.brand-cover-area{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        // Preview
        div.preview{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ddd;
            $size: 16vw;
            width: calc($size + 10%);
            height: $size;
            margin-right: 2rem;
            overflow: hidden;
            img.brand-cover-preview{
                height: auto;
                width: 100%;
                object-fit: cover;
                pointer-events: none;
            }

            &.container-custom{
                &.active{
                    border: 1px dashed #9d2a00;
                }
            }
        }

        // Upload
        div.upload{
            display: flex;
            flex-direction: column;
            // Label
            label.form-label{
                cursor: pointer;
                border: 1px solid #9d2a00;
                border-radius: 4px;
                padding: .4rem .8rem;
                color: #9d2a00;
                width: 100%;
                &:hover{
                    background-color: #ffdbce;
                }
            }
    
            // Cover Upload
            input[type="file"].brand-cover{
                display: none;
            }
        }
    }



    // Category Name
    div.brand-name-area{
        
    }

}

// Global
.required::after{
    content: '*';
    color: red;
    margin-left: .6rem;
}