
@use "sass:color";

/* ———————————————————— Button ———————————————————— */
div.header{
    display: flex;
    justify-content: flex-end;
    // button
    button.create-brand{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        color: #fff;
        $color: #0d6efd;
        background-color: $color;
        border-color: $color;
        font-size: var(--font-remark);
        &:hover{ 
            background-color: color.scale($color, $lightness: -20%);
            border-color: color.scale($color, $lightness: -20%);
        }
        $padding: .4rem .6rem;
        i.create-brand-icon{
            padding: $padding;
            line-height: 0;
        }
        p.create-brand-text{
            border-left: 1px solid #00000066;
            margin-bottom: 0;
            padding: $padding;
            
        }
    }
}

/* ———————————————————— Search Bar ———————————————————— */
#searchInput{
    border-bottom: 2px solid #1c1c1c;
    transition: all .12s ease-in-out;
    &:focus{
        border-bottom: 2px solid #1900ff;
    }
}

/* ———————————————————— Header ———————————————————— */

table.data-table{
    border-collapse: separate;
    border-spacing: 0 1rem;
    // Header
    thead{

    }

    // Body
    tbody{
        
        tr.brand-row-data{
            color: var(--color-black);
            cursor: pointer;
            &:hover{
                color: blue;
            }
            &:nth-child(odd){
                background-color: #00000005;
            }
            &:nth-child(even){
                background-color: #00000008;
            }
        }
        td{
            &:first-child{
                padding-left: 2rem;
                padding-right: 2rem;
                width: 30%; 
            }
            &:nth-child(2){
                width: 40%;
                img{
                    height: 80%;
                }
            }
            &:last-child{
                padding-right: 2rem;
            }
        }
    }

}

// Button
div.delete-button{
    button.button{
        
    }
}