div.notification-modal {
  position: absolute;
  top: 2rem;
  left: 12.5%;
  padding: 0 1rem;
  --sidebar: 18vw;
  margin-left: var(--sidebar);
  width: calc((100vw - var(--sidebar)) / 2);
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 102, 0.1882352941);
}
div.notification-modal .modal-header p {
  font-size: var(--font-h4);
  margin-bottom: 0;
}
div.notification-modal .modal-body p {
  margin-bottom: 0;
}
div.notification-modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
div.notification-modal .modal-footer button {
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
}
