div.page {
  margin-left: 18vw;
  padding: 1.6rem 2rem;
}
div.page p.page-title {
  margin: 0;
  margin-bottom: 0.4rem;
  font-size: var(--font-h4);
}

/* ==================== RWD ==================== */
@media only screen and (max-width: 867px) {
  div.page {
    width: calc(100vw - 55px);
    margin-left: 55px;
  }
  div.page p.page-title {
    margin-bottom: 0.6rem;
    font-size: var(--font-h6);
  }
}
